<header>
<div class="site-title">
    <div>
        <div>{{ site.title }}</div>
        <div style="display: flex; justify-content: center; gap:1em; width: 100%;">
            <a href="mailto:{{ site.email }}">{% include email.svg %}</a>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">{% include linkedin.svg %}</a>
            <a href="https://github.com/{{ site.github_username }}">{% include github.svg %}</a>
            <a href="https://scholar.google.com/citations?user={{ site.googlescholar_username }}">{% include googlescholar.svg %}</a>
        </div>
    </div>
    <img class="circular_image" src="/assets/img/profile.jpg"/>
</div>

<hr>
<nav style="display: flex;  flex-wrap: wrap; justify-content: space-around; padding: 0; margin: 0;">

    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for tab in sorted_pages %}
        {% if tab.title %}
        {% if tab.title == page.title %}
        <a class="nav-button open" href="{{ tab.url }}" target="_self">
        {% else %}        
        <a class="nav-button" href="{{ tab.url }}" target="_self">
        {% endif %}
            {{ tab.title }}
        </a>
        {% endif %}
    {% endfor %}
    </nav>
    <hr>

</header>