<header>
<div class="site-title">
    <div>
        <div>{{ site.title }}</div>
        <div style="display: flex; justify-content: space-around; width: 100%; margin-top: 10px;">
            <a href="mailto:{{ site.email }}">{% include email.svg %}</a>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">{% include linkedin.svg %}</a>
            <a href="https://github.com/{{ site.github_username }}">{% include github.svg %}</a>
        </div>
    </div>
    <img class="circular_image" src="/assets/images/profile.jpg"/>
</div>

<hr>
<nav style="display: flex;  flex-wrap: wrap; justify-content: space-around; padding: 0; margin: 0;">

    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for tab in sorted_pages %}
        {% if tab.title %}
        <a class="nav-button" href="{{ tab.url }}" target="_self">
            {% if tab.title == page.title %}<b>{{ tab.title }}</b>
            {% else %}{{ tab.title }}{% endif %}
        </a>
        {% endif %}
    {% endfor %}
    </nav>
    <hr>

</header>