:root {
    --body-font: "Figtree", "Open Sans";
    --bold-font: "Figtree", "Open Sans";
    --color-text: #202020;
}

body {
    font-family: var(--body-font);
    font-weight: 300;
    overflow-y: scroll;
    color: var(--color-text);

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 800px;
    text-align: justify;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
    }
}

.site-title {
    font-size:220%;
    /* font-weight: bold; */
    margin-bottom: 25px;
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
    align-items: center;
}

.site-title a { color: var(--color-text); }
.site-title a:visited { color: var(--color-text); }
nav a:visited { color: var(--color-text); }

nav a.nav-button {
    color: var(--color-text);
    font-weight: 300;
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 5px;
    border: 1px solid var(--color-text);
    padding: 5px;
}

nav a.nav-button:hover {
    background-color: var(--color-text);
    color: white;
    border-color: white;
}

nav a.nav-button.open {
    background-color: var(--color-text);
    color: white;
    border-color: white;
}

footer {
    margin-top: 3em;
    font-size: 90%;
}

a { 
    color: #1a0dab;
    text-decoration: none;
}

a:visited { color: #660199; }
a:hover { color: grey; }

h1 {
    font-family: var(--bold-font);
    font-size: 150%;
    margin-top: 1.5em;
}


h2 {
    font-family: var(--bold-font);
    font-size: 120%;
    margin-top: 1.5em;
}

.circular_image {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 1px solid var(--color-text);
    padding: 10px;
}

svg {
    height: 1.2em;
    overflow: visible;
    vertical-align: middle;
}

svg path {
    fill: none;
    stroke: var(--color-text);
    stroke-width: 8;
}

svg path.full {
    fill: var(--color-text);
    stroke: none;
}

svg:hover {
    path {
        fill: var(--color-text);
        stroke: white;
    }
    path.full {
        fill: white;
        stroke: var(--color-text);
    }
}



ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;
    .col-sm-10 div {
        margin-bottom: 0.3em;
    }
    .title {
        font-size: 110%;
        /* font-weight: bold; */
    }
    .preview {
        border: 1px solid var(--color-text);
        border-radius: 50%;
        width: 90px;
        height: 90px;
        aspect-ratio: 1 / 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        img {
            width: 75px;
            height: 75px;
        }
    }
    .row {
        display: flex;
        align-items: start;
        gap: 20px;
        margin-top: 20px;
    }
    .btn {
        display: inline-block;
        margin-top: 0.2em;
        padding: 3px;
        font-size: 75%;
        color: var(--color-text);
        text-decoration: none;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
    }
    a.btn {
        border: 1px solid var(--color-text);
        border-radius: 5px;
        cursor: pointer;
    }
    a.btn.open{
        background-color: var(--color-text);
        color: white;
        border-color: none;
    }
    a.btn:hover {
        background-color: var(--color-text);
        color: white;
        border-color: none;
    }
    a.btn.open:hover {
        background-color: white;
        color: var(--color-text);
        border-color: var(--color-text);
    }
    .conf.btn {
        background-color: #1a0dab;
        border: 1px solid #1a0dab;
        color: #fff;
        pointer-events: none;
        user-select: text;
        cursor: text;
        text-transform: none;
    }
    .yellow.btn {
        background-color: #B8860B;
        border: 1px solid #B8860B;
        color: #fff;
        pointer-events: none;
        user-select: text;
        cursor: text;
        text-transform: none;
    }
}

.hidden {
    font-size: 75%;
    text-align: justify;
    transition-property: 0.15s ease;
    -moz-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: all 0.15s ease;
    display: none !important;
}

.abstract.hidden.open {
    border: 1px solid var(--color-text);
    border-radius: 5px;
    padding: 10px;
    display: block !important;
    margin-top: 10px;

    p {
        margin: 0;
    }
}


@media only screen and (max-width: 650px) {
    body {
        font-size: 0.9rem;
    }

    .site-title { 
        font-size: 170%; 
        margin-bottom: 20px;
    }
    nav a.nav-button {
        font-size: 85%;
        font-weight: 200;
    }
    .btn {
        font-size: 75%;
        font-weight: 200;
    }

    h1 {
        font-size: 140%;
    }

    h2 {
        font-size: 110%;
    }

    .circular_image {
        width: 80px;
        height: 80px;
        padding: 6px;
    }

    ol.bibliography {
        font-size: 0.9rem;
        .preview {
            width: 75px;
            height: 75px;
            img {
                width: 60px;
                height: 60px;
            }
        }    
    }
}

@media only screen and (max-width: 500px) {
    .site-title { 
        font-size: 175%; 
    }
}

.toggle {
    padding-inline-start: .65em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Indent toggle children */
.toggle>details>summary {
    margin-left: -.5em;
    cursor: pointer;
}

ul {
    padding-inline-start: 1em;
}

hr {
    width: 100%; 
    margin: 0; 
    border: 0; 
    border-top: 1px solid var(--color-text); 
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
}

.tags {
    border: 1px solid var(--color-text); 
    padding: 4px; 
    border-radius: 5px; 
    font-size: 0.6em; 
    font-weight: 400;
    vertical-align: middle; 
    text-transform: uppercase; 
    margin: 0px 10px 5px 0;
}


#choosecategory {
    padding: 5px;
    /* font-size: 14px; */
    border: 1px solid var(--color-text); 
    border-radius: 5px;
    /* width: 215px; */
    font-family: var(--body-font);
    margin-left: 5px;
    outline: none;
  }