<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  
  <main>
    <h1>{% if page.titlealt %}{{ page.titlealt }}{% else %}{{ page.title }}{% endif %}</h1>
    {{ content }}
  </main>
  
  <footer>
    <!-- icon -->
    <hr style="width: 100%; margin: 0; border: 0; border-top: 1px solid grey; margin-top: 0.5em; margin-bottom: 0.5em;">

    <p>&copy;  {{ "now" | date: "%Y" }} {{ site.author }}
      <img src="/favicon.ico" alt="icon" style="width: 0.8em; height: 0.8em; vertical-align:-4%;">
    </p>
  </footer>
  
</body>
</html>
