<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  
  <main>
    <h1>{% if page.titlealt %}{{ page.titlealt }}{% else %}{{ page.title }}{% endif %}</h1>
    {{ content }}
  </main>
  
  <footer>
    <hr>

    <p> &copy;  
      {{ "now" | date: "%Y" }} 
      {{ site.author }}
      <img src="/favicon.ico" alt="icon" style="width: 1em; height: 1em; vertical-align: -0.15em;">
    </p>
  </footer>
  
</body>
</html>

<script>
function image(img) {
  // given an image with an src, open a window with it
    window.open(img.src,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=600px, height=600px, top=50px left=250px');
}

function image2(spann) {
  // given a span containing an <img>, open a window with that image's src
  var img = spann.querySelector('img');
  if (img && img.src) {
    window.open(img.src, 'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=600px, height=600px, top=50px left=250px');
  } 
}
</script>